<div fxLayout="column" fxLayoutAlign="center center"  style="height:100%" class="signupbg">

  <div fxLayout="column" class="SignupInput" >
      
    <!-- <div> -->
        <mat-form-field style="margin-top:10px">
            <input matInput placeholder="Name" type="name">
        </mat-form-field>
    <!-- </div> -->
          
    <!-- <div> -->
        <mat-form-field>
            <input matInput placeholder="Email" type="email">
          </mat-form-field>
    <!-- </div> -->
             
    
    <!-- <div> -->
        <mat-form-field>
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
    
    <!-- </div> -->
      
          
    <!-- <div> -->
        <button mat-raised-button color="primary" style="width:20px; margin-left:110px;margin-bottom:20px">Signup</button>
    <!-- </div> -->
          
      
          
  </div>
    
</div>
