  <div fxLayout="row" style="height:100%" class="loginbg">
    <div  fxFlex="20" style="background-color: rgba(0,0,0,0.8)"> 
      <div class="LoginLeftSection">  
        Meal Planner
      </div>
      <div class="LoginInput">
          <mat-form-field>
              <input matInput placeholder="Email" type="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" type="password">
              </mat-form-field>

            <button mat-raised-button color="primary" style="margin-bottom:10px">Login</button>

            <button [routerLink]="['/signup']" mat-raised-button color="warn" style="margin-bottom:10px; margin-left:10px">New User?</button>

      </div>
    </div>
        
     <!-- <div fxFlex="70" fxLayout=row>
     <div fxFlex="30">
        Meal Planner:
     </div> -->
     <div fxlayout="column" fxFlex="85" class="LoginRightSection">
        <div>
           A way
        </div>
        <div>
           to organize
        </div>
        <div>
          your daily meals
        </div>
     </div>
  </div>
