<!-- <div fxLayout="column"> -->
<app-toolbar ></app-toolbar>
<div  fxLayout="row" style="height:94%">
    <div fxFlex="50" class="leftbackground">
        
      <div fxLayout="column" fxLayoutAlign="center center" style="margin-top:50%;font-size: 39px;
      color: lightgrey;background-color: rgba(0,0,0,0.6)">
         Plan Meals
      </div>

    </div>
    <div fxFlex="50" class="rightbackground">
      <div fxLayout="column" fxLayoutAlign="center center" style="margin-top:56.5%;font-size: 39px;
      color: lightgrey;background-color: rgba(0,0,0,0.6)">
          Maintain Reciepes
      </div>
        
     </div>
        
</div>
<!-- </div> -->